@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

body {
  font-family: Roboto;
  background-color: #F7F9FC;
  color: #575F7D;
  margin: 30px;
}

ul {
  list-style: none;
  display: flex;
  width: 100px;
  padding: 0;
  margin: auto;
}

li {
  padding: 10px;
  text-align: center;
}

#avatar {
  height: 20%;
  border-radius: 50%
}

h1 {
  font-size: 25px
}

h2 {
  font-size: 24px;
  margin-top: 30px
}

p {
  font-size: 12px;
  line-height: 22px;
  margin-bottom: 30px;
}

.btn-orange {
  background-color: #e07b39;
  color: white;
  padding: 12px;
  border-radius: 3px;}

.btn-orange:hover {
  opacity: 60%
}

a {
  text-decoration: none
}

img {
  object-fit: cover;
  margin: 3px;
}

.social-icon {
  color: #575F7D;
  font-size: 25px;
}

.social-icon:hover {
  color: gray;
}

.thumb1 {
  width: 200px;
  height: 200px;
}

.infos {
  width: 33%;
  border-style: solid;
  border-width: 1px;
  border-color: #ECECEC;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  padding: 30px;
  text-align: center;
  background-color: #F7F9FC;
}

.images {
  width: 70%;
  padding-left: 60px;
  margin-top: 10px;
}

.master {
  display: flex;
  margin: 20px auto;
  height: 750px;
  padding: 15px;
}

.images-row {
  display: flex;
}

.images-title {
  font-size: 30px;
}
